body{
    margin:0;
}
.header-container{
    position: fixed;
    top: 0;
    text-align: center;
    height: 3em;
    width: 100%;
}

.header-container a {
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    padding: 0em 1.5em;
    text-decoration: none;
    text-align: center;
    margin: 0;
    color: black;
    height: 100%;
}

.header-container a:hover {
    background-color: #9faf9f;
}

.header-container li{
    float: left;
    height: 100%;
    border-right: 1px solid #000;
}

.header-container li:last-child {
    border-right: none;
}

.header-container ul{
    background-color: #cfcfcf;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.header-container li.header-lang{
    float: right;
    height: 100%;
}

.header-lang div{
    text-align: center;
    float: left;
    height: 100%;
}

.header-lang div {
    border-right: 1px solid #000;
}
.header-lang div:last-child {
    border-right: none;
}

.header-lang div a {
    padding: 0 0.5em;
}
